/* CSS Document */
/*
Colors used

Primary Color (Yellow): #FAFA05;
Secondary Color (Blue): #3963B4;
Link Color (Red): #FF5C33;
Hover Color (Light blue): #00EDEC;
Background Color (Rose): #FFE7FF;
*/
/* Layout styling */
* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  /* No spacing to top and bottom and auto spacing to left and right */
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #3963b4;
  font-size: 20px;
  /* Sets the font size to 16px */
  line-height: 1.4;
  letter-spacing: 0.02em;
}


h1 {
  font-size: 38px;
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

h2 {
  font-size: 34px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  color: #3963B4;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  color: #FF5C33;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.uppercase {
  color: #3963b4;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  text-align: center;
}

.container {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 0 10px;
}

.columns-container {
  font-size: 0;
}

.column-6 {
  font-size: 20px;
  width: 16,6%;
  display: inline-block;
  margin-right: 1%;
  text-align: center;
}

.column-6:last-child {
margin-right: 0;
}

.item1 {
  grid-row: 1 / 6;
}

.logo {
  max-width: 150px;
}

.svg {
  max-width: 380px;
}

.icon {
  max-width: 60px;
  display: inline-block;
}

header {
  text-align: center;
}

header .container {
  position: relative;
  min-width: 360px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

nav {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: 700;
}

nav-a {
  color: #3963B4;
  text-decoration: none;
}

.nav-a:visited {
  /* visited link */
  color: #3963B4;
}

.nav-a:hover,
.nav-a:focus {
  color: #FF5C33;
  text-decoration: none;
}

.nav-a:active {
  /* selected link */
  color: #00EDEC;
}

nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

a {
  color: #ff5c33;
  text-decoration: none;
}

a:visited {
  /* visited link */
  color: #FF5C33;
}

a:hover,
a:focus {
  color: #00edec;
  text-decoration: none;
}

a:active {
  /* selected link */
  color: #ffffff;
}

img {
  width: 100%;
}

span {
  font-weight: 700;
}

.button {
  /* overwrite browser defaults */
  border: none;
  /* reset the border */
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.02em;
  /* style button */
  background-color: white;
  color: #ff5c33;
  text-decoration: none;
  margin: 10px 10px;
  padding: 15px 20px;
  border-radius: 60px;
  border-bottom: 0px;
  display: inline-block;
}

.button:hover,
.button:focus {
  background-color: #00EDEC;
  color: #ff5c33;
}

.button-secondary {
  background-color: #FF5C33;
  color: #ffffff;
}

.button-secondary:visited {
  /* visited link */
  color: #ffffff;
}

.button-medium {
  background-color: #3963B4;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  border-radius: 80px;
  margin: 60px 0;
}

.button-medium:visited {
  /* visited link */
  color: #ffffff;
}

#navigation {
  background-color: #ffffff;
  text-align: left;
  padding: 0px;
  margin: 0px;
}

#welcome {
  background-color: #FAFA05;
  color: #3963B4;
  text-align: center;
  padding: 90px 0;
}

#toolset {
  background-color: #FFE7FF;
  color: #3963B4;
  text-align: center;
  padding: 50px 0;
}

#services {
  background-color: #FAFA05;
  color: #3963B4;
  text-align: center;
  padding: 10px 0;
}

#philosophy {
  background-color: #FFE7FF;
  color: #3963B4;
  text-align: center;
  padding: 10px 0;
}

#contact {
  background-color: #FAFA05;
  color: #3963B4;
  text-align: center;
  padding: 10px 0;
}

#tryit {
  background-color: #FFE7FF;
  color: #3963B4;
  text-align: center;
  padding: 10px 0;
}

#footer {
  background-color: #FAFA05;
  color: #3963B4;
  text-align: center;
  padding: 10px 0;
}

@media all and (max-width: 300px) {
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 26px;
    text-align: center;
  }
  .column-6 {
    width: 49%;
    margin-right: nth-child(even);
  }
}
