/* CSS Document */
/*
Colors used

Primary Color (Yellow): #FAFA05;
Secondary Color (Blue): #3963B4;
Link Color (Red): #FF5C33;
Hover Color (Light blue): #00EDEC;
Background Color (Rose): #FFE7FF;
*/
/* Layout styling */
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #3963b4;
  font-size: 20px;
  /* Sets the font size to 16px */
  line-height: 1.4;
  letter-spacing: 0.02em;
}

h1 {
  font-size: 1.8em;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

h3 {
  font-size: 1.2em;
  font-weight: 600;
  color: #3963B4;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

h4 {
  font-size: 1.2em;
  font-weight: 600;
  color: #FF5C33;
  margin-bottom: 10px;
  text-align: center;
}

.uppercase {
  color: #3963b4;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  text-align: center;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.col-6 {
  width: 49%;
  display: inline-block;
  margin-right: 2%;
  text-align: center;
  float: left;
  padding: 20px
}

.col-6:last-child {
  margin-right: 0;
}

.row:after {
  content: ' ';
  display: table;
  clear: both;
}

.logo {
  max-width: 150px;
}

.svg {
  max-width: 200px;
}


header {
  text-align: center;
  background-color: #ffffff;
}

header .container {
  position: relative;
}

nav {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: 700;
}

nav-a {
  color: #3963B4;
  text-decoration: none;
}

.nav-a:visited {
  /* visited link */
  color: #3963B4;
}

.nav-a:hover,
.nav-a:focus {
  color: #FF5C33;
  text-decoration: none;
}

.nav-a:active {
  /* selected link */
  color: #00EDEC;
}

nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

a {
  color: #ff5c33;
  text-decoration: none;
}

a:visited {
  /* visited link */
  color: #FF5C33;
}

a:hover,
a:focus {
  color: #00edec;
  text-decoration: none;
}

a:active {
  /* selected link */
  color: #FFE7FF;
}

img {
  width: 100%;
}

span {
  font-weight: 700;
}

.textarea {
  text-align: left;
}

.xs-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.xl-container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

#navigation {
  background-color: #ffffff;
  text-align: left;
  padding: 0px;
  margin: 0px;
}

#welcome {
  background-color: #FAFA05;
  color: #3963B4;
  text-align: center;
  padding: 120px 200px 120px;
}

#toolset {
  background-color: #FFE7FF;
  color: #3963B4;
  text-align: center;
  padding: 60px 40px;
}

#services {
  background-color: #FAFA05;
  color: #3963B4;
  text-align: center;
  padding: 60px 40px;
}

#philosophy {
  background-color: #FFE7FF;
  color: #3963B4;
  text-align: center;
  padding: 60px 40px;
}

#contact {
  background-color: #FAFA05;
  color: #3963B4;
  text-align: center;
  padding: 60px 40px;
}

#tryit {
  background-color: #FFE7FF;
  color: #3963B4;
  text-align: center;
  padding: 60px 40px;
}

#footer {
  background-color: #FAFA05;
  color: #3963B4;
  font-size: 16px;
  text-align: center;
  padding: 40px 40px;
}


@media all and (max-width: 600px) {
  .logo {
    width: 100px;
  }
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  ul {
    font-size: 16px;
  }
  .uppercase {
    font-size: 13px;
  }
  .button {
    font-size: 14px;
  }
  .button-medium {
    font-size: 16px;
    margin: 0 auto;
  }
  .col-6 {
    width: 100%;
    display: inline-block;
    margin-top: 40px;
    padding: 5px;
    text-align: center;
    float: left;
  }
  #welcome {
    margin: 0 auto;
    padding: 40px 40px;
  }
  #toolset {
    margin: 0 auto;
    padding: 30px 50px;
  }
  #services {
    margin: 0 auto;
    padding: 35px 35px 60px 35px;
  }
  #philosophy {
    margin: 0 auto;
    padding: 30px 50px;
  }
  #contact {
    margin: 0 auto;
    padding: 30px 50px;
  }
  #tryit {
    margin: 0 auto;
    padding: 30px 10px;
  }
  #footer {
    margin: 0 auto;
    padding: 10px 50px;
  }
}

button,
.button {
  display: inline-block;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.03em;
  background-color: white;
  color: #ff5c33;
  text-decoration: none;
  margin: 10px 10px;
  padding: 15px 15px;
  border-radius: 60px;
  border-bottom: 0px;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

.button:hover,
.button:focus {
  background-color: #00EDEC;
  color: #ff5c33;
}

.button:active {
  background-color: #00EDEC;
  color: #ff5c33;
}

button-contact,
.button-contact {
  background-color: #FF5C33;
  color: #ffffff;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

.button-contact:visited {
  /* visited link */
  color: #ffffff;
}

button-medium,
.button-medium {
  background-color: #3963B4;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  border-radius: 80px;
  margin: 25px 0;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}


.button-medium:visited {
  /* visited link */
  color: #ffffff;
}
